button[shape="icon"],
button[shape="btn"],
button[product-status="sale"] {
  border-width: 0 !important;
  border-color: transparent !important;

  width: 3rem;
  height: 3rem;

  padding: 0 !important;

  &:hover {
    background-color: rgb(170, 170, 170);
  }

  &:nth-child(even) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  span.s-button-text {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
