.s-cart-summary-total {
  display: none !important;
}

.icons-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.search-icon-header {
  cursor: pointer;
}

.search-finish {
  position: fixed;
  padding-top: 50px;
  top: -100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #6b7280bf;
  transition: all 0.2s ease-out;
}

.cat-thee {
  grid-template-columns: repeat(2, 1fr) !important;
}
.search-finish.active-search {
  top: 0;
}

.s-search-container input {
  border-radius: 10px !important;
  width: 500px;
}
.s-search-container {
  background-color: #fff;
}

@media (max-width: 1025px) {
  .icons-header {
    display: hidden;
  }
}

.search-finish {
  margin: 0 !important;
}

.header-search salla-search input {
  border: none;
  border-radius: 0px;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.05);
}

.cart-header salla-cart-summary {
  margin: 0 !important ;
}

.header-buttons.second h4 {
  margin-left: 0.15rem;
}

.header-buttons.second .down-drop {
  transform: translateY(-2px);
}

.header-buttons.second {
  color: #334155;
}

svg {
  fill: #334155 !important;
}

.s-cart-summary-count {
  display: hidden !important;
  opacity: 0 !important;
}

.header-buttons.second div {
  transform: translateY(-1px);
}
.navbar-brand {
  margin-left: 5px;
}
.logo {
  font-size: 30px;
  color: #000;
  font-family: Cairo;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-search salla-search input {
  border-radius: 5px;
  background: rgba(217, 217, 217, 0.93);
}
.header-search salla-search input::placeholder {
  opacity: 0;
}

.s-search-icon svg {
  width: 20px;
  height: 20px;
}

.sicon-menu {
  color: #334155 !important;
}

.s-block--animated-brands--marquee .marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14);
  animation: scroll-x 60s linear infinite;
}

.s-block--animated-brands--marquee:hover .marquee__group {
  animation-play-state: paused;
}
.s-block--animated-brands--marquee {
  display: flex;
  overflow: hidden;
  direction: ltr;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  gap: calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14);
}
.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -3s;
}

@keyframes scroll-x {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-100% - clamp(10rem, 1rem + 40vmin, 30rem) / 14)
    );
  }
}

.main-nav-container {
  height: auto !important ;
  min-height: auto !important;
}

.menu-new-design ul {
  padding-top: 0;
}

.menu-new-design ul li a {
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  color: #fff !important;
}

.animated-ads {
  width: 80vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 500px;
  right: -78.45%;
  z-index: 11;
  transition: all ease 0.7s;
}
.btn-open div div {
  transform: rotate(180deg);
  transition: all ease-in 0.5s;
}

.animated-ads.show {
  right: 0;
}

.animated-ads.show svg {
  transform: rotate(0deg);
}

.grid-feattures,
.grid-feattures-about,
.grid-feattures-category,
.grid-feattures-pro {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
  gap: 15px;
  width: 90%;
  padding-top: 50px;
  padding-bottom: 10px;
  height: auto;
}
.grid-feattures-about,
.grid-feattures-pro {
  grid-template-columns: repeat(4, 1fr) !important;
}

.grid-feattures-category {
  grid-template-columns: repeat(5, 1fr) !important;
}

.card-store-features {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #334155;
}

.card-store-features .image,
.grid-feattures-about .image {
  background-color: #eae9e9;
  padding: 15px !important;
  height: 100px;
  width: 100px;
}

.grid-feattures-about .image {
  background-color: #404553;
}
.store-features .subtitle-feaures {
  font-size: 24px;
}

.cat-with-head {
  justify-content: space-between;
  width: 80%;
  gap: 10px;
}

.cat-with-head div:nth-child(2) {
  margin-top: -10rem;
}

.p-header-category {
  top: 7px;
  left: 10px;
  font-weight: 700;
}

.new-design-product button,
.category-three button {
  border: none !important;
  padding: 0 !important ;
  margin: 0 !important;
}
.new-design-product svg,
.category-three svg {
  height: 24px;
  width: 3rem;
}
.new-design-product .addToCart svg {
  height: 30px;
  width: 3rem;
}

.category-three .addToCart svg {
  padding: 0;
  margin: 0;
  height: 30px;
  width: 3rem;
}

.new-design-product button:hover {
  background-color: transparent !important;
}

.modal-content svg {
  fill: black;
}

.modal {
  display: none;
  position: fixed;

  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  height: 95vh;
  width: 70%;
}

.modal {
  height: 100vh;
  overflow: hidden;
}

.modal-content {
  margin-top: 0.3rem;
  height: 95vh;
  overflow-y: auto;
}

.navlink-design .navLink-show {
  width: 100px;
  height: 40px;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.navlink-design .navLink-show {
  width: max-content !important;

  padding: 0 15px !important;
}

.active-design {
  background-color: #d7cece;
}

.s-product-card-sale-price {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

salla-add-product-button button:not(.new-design-product button) {
  width: 100%;
  height: 100%;
  background: red;
  padding: 10px;
  border: none;
}

salla-button button {
  padding: 3px !important ;
  background-color: transparent !important;
  border: none !important;
}

.navlink-design .swiper-wrapper {
  width: 250px !important;
}

salla-add-product-button
  .s-button-text:not(
    .new-design-product .s-button-text,
    .category-three .s-button-text
  ) {
  padding: 5px 30px !important;
  border-radius: 5px !important;
  background-color: #404553 !important;
  color: white !important;
}

.two-card {
  gap: 1.5rem !important;

  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
}

.line {
  height: 10px;
  width: 200px;
  background-color: #404553;
  border-radius: 20px;
}

.product-entry--full-image .product-entry__title a {
  overflow: visible;
}

/* responsive */
@media (max-width: 1024px) {
  .menu-style {
    display: none;
  }
  .grid-feattures-about,
  .grid-feattures-pro {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .grid-feattures-category {
    grid-template-columns: repeat(4, 1fr) !important;
  }
  .animated-ads {
    right: -77%;
  }
  .mm-ocd__content {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .mm-ocd__content .mobile-menu .main-menu::-webkit-scrollbar {
    width: 6px;
  }
  .mm-ocd__content .mobile-menu .main-menu::-webkit-scrollbar-track {
    background-color: #fff;
  }
  .mm-ocd__content .mobile-menu .main-menu::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  .mobile-menu .main-menu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .mobile-menu .main-menu li {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
  }
  .mobile-menu .main-menu h3 {
    display: none;
  }
  .mm-spn.mm-spn--navbar:after {
    border-bottom: 4px solid #d9d9d985 !important;
  }
}
@media (max-width: 768px) {
  .cat-with-head {
    justify-content: center;
    width: 100%;
  }
  .cat-with-head div:nth-child(2) {
    margin-top: 0;
  }

  .store-features .subtitle-feaures {
    font-size: 22px;
  }
  .grid-feattures-about,
  .grid-feattures-pro,
  .grid-feattures-category {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .animated-ads {
    right: -76%;
  }
}

@media (max-width: 640px) {
  .two-card {
    gap: 0.5rem !important;
  }

  .modal-content {
    width: 95%;
    height: 97vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .store-features .subtitle-feaures {
    font-size: 20px;
  }
  .grid-feattures,
  .grid-feattures-about,
  .grid-feattures-category,
  .grid-feattures-pro {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .icons-header {
    margin-right: 0.5rem !important ;
  }
  .animated-ads {
    right: -73%;
  }
}

@media (max-width: 400px) {
  .animated-ads {
    right: -67%;
  }
  .category-star-2 img {
    height: 160px !important;
  }
  .grid-feattures,
  .grid-feattures-about {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
#map-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#map-content iframe {
  width: 90%;
  border-radius: 15px;
}

.store-footer__inner {
  background-color: #505256 !important;
  color: #fff;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.footer-social-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.store-footer .footer-social-links a {
  margin: 0;
}

.social-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.platform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-list {
  margin-top: 2.5rem;
}

@media (min-width: 375px) {

  input.s-search-input {
    width: 100%;
  }

  .s-search-inline {
    min-width: 1rem;
  }

  .after-floating-menu {
    margin-top: 7rem;
  }

  .grid-feattures,
  .grid-feattures-about,
  .grid-feattures-category,
  .grid-feattures-pro {
    padding-top: 1rem;
    padding-bottom: 1rem;

    justify-items: center;
  }

  .card-store-features .image,
  .grid-feattures-about .image {
    height: 5rem;
    width: 5rem;
  }

  .offer-style {
    width: 375px !important;
  }

  #remove-elan {
    left: unset !important;
    right: 10px !important;
  }
}
