.s-block--animated-brands--marquee .marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14);
  animation: scroll-x 60s linear infinite;
}

.s-block--animated-brands--marquee:hover .marquee__group {
  animation-play-state: paused;
}
.s-block--animated-brands--marquee {
  display: flex;
  overflow: hidden;
  direction: ltr;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  gap: calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14);
}
.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -3s;
}

@keyframes scroll-x {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-100% - clamp(10rem, 1rem + 40vmin, 30rem) / 14)
    );
  }
}
 