.animated-ads {
  width: 80vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 500px;
  right: -78.45%;
  z-index: 11;
  transition: all ease 0.7s;
}
.btn-open svg {
  transform: rotate(180deg);
  transition: all ease-in 0.5s;
}

.animated-ads.show {
  right: 0;
} 

.animated-ads.show svg {
  transform: rotate(0deg);
}
