<div class="flex flex-col items-start justify-start space-y-5">
	<button type="button" onclick="closeModal()" class="flex items-center justify-center w-16 h-16 mb-8 text-xl font-black">x</button>
	<div class="grid w-full grid-cols-2 gap-5 px-5 py-2">
		<div class="flex flex-col items-start justify-start w-full space-y-5">
			<div class="bg-[#F1EBEB] w-full flex flex-col items-center justify-start px-7 pb-5">
				<div class="w-full h-36">
					<img class="object-cover w-full h-full"/>
				</div>
				<div class="flex items-center justify-center w-full space-x-3">
					<button class="w-4 h-4 rounded-full bg-[#D9D9D9] focus:bg-[#334155]"></button>
					<button class="w-4 h-4 rounded-full bg-[#D9D9D9] focus:bg-[#334155]"></button>
					<button class="w-4 h-4 rounded-full bg-[#D9D9D9] focus:bg-[#334155]"></button>
				</div>
				<div class="flex items-center justify-start">
					<div class="rounded-md p-0.5 flex items-center justify-start">
						<p class="text-sm text-white">رؤية منتج مشابهة</p>
					</div>
				</div>
			</div>
			<div class="grid justify-start w-full grid-cols-4 gap-4">
				<div class="w-20 h-20">
					<img class="object-cover w-full h-full"/>
				</div>
				<div class="w-20 h-20">
					<img class="object-cover w-full h-full"/>
				</div>
			</div>
		</div>
		<div class="flex flex-col items-start justify-start w-full space-y-5">
			<div class="flex items-center justify-between w-full">
				<p class="text-[#707070] text-2xl text-right">السعر شامل الضريبة</p>
				<div class="flex items-center justify-end space-x-2">
					<salla-button class="btn--wishlist s-button-wrap hydrated" id="popup-wishlist-btn-${product.id}" data-id="${product.id}" onclick="salla.wishlist.toggle(${product.id})" shape="icon" fill="outline" loader-position="center" color="light" size="medium" width="normal">
						<i class="sicon-heart"></i>
					</salla-button>
					<salla-social-share url="${product.url}" url-name="${product.name}" platforms="facebook,twitter,whatsapp,email,copy_link"></salla-social-share>
				</div>
			</div>
		</div>
	</div>
</div>
