<div class="flex flex-col items-start justify-start space-y-5">
	<button type="button" onclick="closeModal()" class="flex items-center justify-center w-16 h-16 mb-8 text-xl font-black">x</button>
	<div class="grid w-full grid-cols-2 gap-5 px-5 py-2">
		<div class="flex flex-col items-start justify-start w-full space-y-5">
			<div class="bg-[#F1EBEB] w-full flex flex-col items-center justify-start px-7 pb-5">
				<div class="w-full h-36">
					<img class="object-cover w-full h-full"/>
				</div>
				<div class="flex items-center justify-center w-full space-x-3">
					<button class="w-4 h-4 rounded-full bg-[#D9D9D9] focus:bg-[#334155]"></button>
					<button class="w-4 h-4 rounded-full bg-[#D9D9D9] focus:bg-[#334155]"></button>
					<button class="w-4 h-4 rounded-full bg-[#D9D9D9] focus:bg-[#334155]"></button>
				</div>
				<div class="flex items-center justify-start">
					<div class="rounded-md p-0.5 flex items-center justify-start">
						<p class="text-sm text-white">رؤية منتج مشابهة</p>
					</div>
				</div>
			</div>
			<div class="grid justify-start w-full grid-cols-4 gap-4">
				<div class="w-20 h-20">
					<img class="object-cover w-full h-full"/>
				</div>
				<div class="w-20 h-20">
					<img class="object-cover w-full h-full"/>
				</div>
			</div>
		</div>
		<div class="flex flex-col items-start justify-start w-full space-y-5">
			<div class="flex items-center justify-between w-full">
				<p class="text-[#707070] text-2xl text-right">السعر شامل الضريبة</p>
				<div class="flex items-center justify-end space-x-2">
					<salla-button class="btn--wishlist s-button-wrap hydrated" id="popup-wishlist-btn-${product.id}" data-id="${product.id}" onclick="salla.wishlist.toggle(${product.id})" shape="icon" fill="outline" loader-position="center" color="light" size="medium" width="normal">
						<i class="sicon-heart"></i>
					</salla-button>
					<salla-social-share url="${product.url}" url-name="${product.name}" platforms="facebook,twitter,whatsapp,email,copy_link"></salla-social-share>
				</div>
			</div>

			<div class="flex items-center justify-start w-full space-x-4">
				<svg xmlns="http://www.w3.org/2000/svg" width="82" height="79" viewbox="0 0 82 79" fill="none">
					<path d="M40.9757 6.51758C22.2736 6.51758 7.12891 21.1179 7.12891 39.1075C7.12891 57.0972 22.2736 71.6975 40.9757 71.6975C59.7117 71.6975 74.8903 57.0972 74.8903 39.1075C74.8903 21.1179 59.7117 6.51758 40.9757 6.51758ZM55.3411 58.6615L41.0096 50.3511L26.6781 58.6615L30.4727 42.9857L17.8352 32.4592L34.5045 31.0904L41.0096 16.2946L47.5147 31.0578L64.184 32.4266L51.5465 42.9531L55.3411 58.6615Z" fill="#FFAC0D"/>
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" width="82" height="79" viewbox="0 0 82 79" fill="none">
					<path d="M40.9757 6.51758C22.2736 6.51758 7.12891 21.1179 7.12891 39.1075C7.12891 57.0972 22.2736 71.6975 40.9757 71.6975C59.7117 71.6975 74.8903 57.0972 74.8903 39.1075C74.8903 21.1179 59.7117 6.51758 40.9757 6.51758ZM55.3411 58.6615L41.0096 50.3511L26.6781 58.6615L30.4727 42.9857L17.8352 32.4592L34.5045 31.0904L41.0096 16.2946L47.5147 31.0578L64.184 32.4266L51.5465 42.9531L55.3411 58.6615Z" fill="#FFAC0D"/>
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" width="82" height="79" viewbox="0 0 82 79" fill="none">
					<path d="M40.9757 6.51758C22.2736 6.51758 7.12891 21.1179 7.12891 39.1075C7.12891 57.0972 22.2736 71.6975 40.9757 71.6975C59.7117 71.6975 74.8903 57.0972 74.8903 39.1075C74.8903 21.1179 59.7117 6.51758 40.9757 6.51758ZM55.3411 58.6615L41.0096 50.3511L26.6781 58.6615L30.4727 42.9857L17.8352 32.4592L34.5045 31.0904L41.0096 16.2946L47.5147 31.0578L64.184 32.4266L51.5465 42.9531L55.3411 58.6615Z" fill="#FFAC0D"/>
				</svg>
			</div>
		</div>
	</div>
</div>
