<section class ="s-block">
	<div class="container">
		<div class="flex flex-col justify-center items-center store-features bg-[#F8F4F4] rounded-xl p-5">
			<h1> {{component.title}}</h1>
			<div class="grid grid-cols-2 sm:grid-cols-4 gap-6 mt-8">
				{% for link in component.banner_payment %}
					<a href="{{link.url}}" class="flex flex-col justify-center items-center max-w-[120px] max-h-[120px]">
							<img src="{{link.image}}" class="w-full h-full" />
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
</section>