<section class="s-block head-edit s-block--hero-slider s-block--full-bg wide-placeholder home-slider photo-slider-hero mb-5">
        <a class="w-full  max-h-[1080px] relative" href="{{component.url}}">
                <img src="{{ component.image }}" class=" w-full"/>
        </a>
</section>