<div class="mx-auto max-w-7xl lg:w-full lg:max-w-none" id="elan-bannle">
	<article class="elan">
		<div class="relative flex py-4 s-block--animated-brands--marquee" style="background-color : #fff ">
			<div id="remove-elan" style="cursor:pointer;width: 20px; height: 20px;padding: 0;display:flex;justify-content:center;align-items: center;position: absolute;top:13px; right: 15px; z-index:10;">
				<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewbox="0 0 40 40" fill="none">
					<path d="M36.6667 0H11.6667C10.5167 0 9.61667 0.777778 9.01667 1.95556L0 20L9.01667 38.0222C9.61667 39.2 10.5167 40 11.6667 40H36.6667C38.5 40 40 38 40 35.5556V4.44444C40 2 38.5 0 36.6667 0ZM31.6667 27.9778L29.3167 31.1111L23.3333 23.1333L17.35 31.1111L15 27.9778L20.9833 20L15 12.0222L17.35 8.88889L23.3333 16.8667L29.3167 8.88889L31.6667 12.0222L25.6833 20L31.6667 27.9778Z" fill="#FAF4F4"/>
				</svg>
			</div>
			<div class="flex s-block--animated-brands--marque" >
				<div class=" marquee__group">
					
				{% for brand in component.brands %}
                    <li style="animation-duration: 10000ms;">
						<a href="{{component.url}}">
                                
							<img  src="{{component.image}}" />
						</a>
					</li>
                {% endfor %}

				</div>
				<div aria-hidden="true" class="marquee__group">
					{% for brand in component.brands %}
                    <li style="animation-duration: 10000ms;">
						<a href="{{component.url}}">
                                
							<img  src="{{component.image}}" />
						</a>
					</li>
                {% endfor %}

				</div>
			</div>
		</div>
	</article>
</div>