<section>
{% for item in component.slider %}
    <span class=" hidden feature-product-slider">{{item.product_id.value[0]|json_encode()}} </span>
{% endfor %}





  <div class="container mx-auto px-4" id="slider-feature-product">
    
  </div>
</section>