<section>
  <div class="container mx-auto px-4">
    <div
      class="flex flex-col items-center w-[250px] bg-[#F1EBEB] rounded-xl p-4 relative"
    >
      <div class="absolute top-4 right-4 flex flex-col gap-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="26"
          viewBox="0 0 34 32"
          fill="none"
        >
          <path
            d="M16.9259 28.1234L14.9089 26.4166C7.74506 20.3779 3.01556 16.3952 3.01556 11.5074C3.01556 7.52475 6.38185 4.39551 10.6662 4.39551C13.0866 4.39551 15.4096 5.4429 16.9259 7.09803C18.4421 5.4429 20.7651 4.39551 23.1855 4.39551C27.4699 4.39551 30.8361 7.52475 30.8361 11.5074C30.8361 16.3952 26.1066 20.3779 18.9428 26.4295L16.9259 28.1234Z"
            fill="#212121"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="26"
          viewBox="0 0 34 30"
          fill="none"
        >
          <path
            d="M16.9677 6.35352C10.2263 6.35352 4.46917 10.0691 2.13666 15.3139C4.46917 20.5587 10.2263 24.2743 16.9677 24.2743C23.7091 24.2743 29.4662 20.5587 31.7987 15.3139C29.4662 10.0691 23.7091 6.35352 16.9677 6.35352ZM16.9677 21.2875C13.2464 21.2875 10.2263 18.6113 10.2263 15.3139C10.2263 12.0165 13.2464 9.34031 16.9677 9.34031C20.6889 9.34031 23.7091 12.0165 23.7091 15.3139C23.7091 18.6113 20.6889 21.2875 16.9677 21.2875ZM16.9677 11.7298C14.7295 11.7298 12.9229 13.3307 12.9229 15.3139C12.9229 17.2971 14.7295 18.8981 16.9677 18.8981C19.2058 18.8981 21.0125 17.2971 21.0125 15.3139C21.0125 13.3307 19.2058 11.7298 16.9677 11.7298Z"
            fill="#212121"
          />
        </svg>
      </div>
      <swiper-container class="mySwiper" pagination="true">
        <swiper-slide>
          <div>
            <img
              class="w-full h-full"
              src="images/product-image.png"
              alt="product"
            /></div
        ></swiper-slide>
        <swiper-slide>
          <div>
            <img
              class="w-full h-full"
              src="images/product-image.png"
              alt="product"
            /></div
        ></swiper-slide>
        <swiper-slide>
          <div>
            <img
              class="w-full h-full"
              src="images/product-image.png"
              alt="product"
            /></div
        ></swiper-slide>
      </swiper-container>
      <p>صن سكرين لحماية البشرة مع حماية كاملة</p>
      <div class="flex justify-between items-center w-full h-fit">
        <div class="prices flex flex-col items-start w-full mt-4">
          <span
            class="after-sale text-center text-sm font-bold text-[#FFAC0D]"
            >145 ر.س</span
          >
          <span
            class="before-sale text-center text-sm font-bold text-[#999999]"
          >
            250 ر.س</span
          >
        </div>
        <div
          class="w-[50px] h-[40px] bg-[#FFAC0D] text-white rounded-full flex justify-center items-center"
        >
          <span>20%</span>
        </div>
      </div>
      <button
        class="flex justify-center items-center gap-4 bg-[#404553] rounded text-white px-4 mt-4 w-full"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="33"
          viewBox="0 0 48 33"
          fill="none"
        >
          <path
            d="M25.1683 16.0466H27.3683V13.3833H30.6685V11.6077H27.3683V8.94434H25.1683V11.6077H21.8681V13.3833H25.1683V16.0466ZM20.7681 24.0367C19.558 24.0367 18.579 24.8358 18.579 25.8123C18.579 26.7889 19.558 27.5879 20.7681 27.5879C21.9781 27.5879 22.9682 26.7889 22.9682 25.8123C22.9682 24.8358 21.9781 24.0367 20.7681 24.0367ZM31.7685 24.0367C30.5585 24.0367 29.5794 24.8358 29.5794 25.8123C29.5794 26.7889 30.5585 27.5879 31.7685 27.5879C32.9785 27.5879 33.9686 26.7889 33.9686 25.8123C33.9686 24.8358 32.9785 24.0367 31.7685 24.0367ZM21.9781 19.5978H30.1734C30.9985 19.5978 31.7245 19.2338 32.0985 18.6834L36.3447 12.46L34.4306 11.6077L30.1734 17.8222H22.4512L17.765 9.83212H14.1678V11.6077H16.3679L20.3281 18.346L18.843 20.5122C18.04 21.7019 19.096 23.149 20.7681 23.149H33.9686V21.3734H20.7681L21.9781 19.5978Z"
            fill="white"
          />
        </svg>
        <span>أضف للسلة</span>
      </button>
    </div>
  </div>
</section>