<section class="container s-block">
	{% for item in component.prodcuts %}
		<span class="hidden limited">
			{{item.product_id.value[0]|json_encode()}}
		</span>
	{% endfor %}

	<span id="offer-date" class="hidden">
		{{component.date}}
	</span>

	<div class="flex items-center justify-between mb-8">
		<h1 class="lg:text-5xl">{{component.string}}</h1>
		<div class="flex items-center justify-end">
			<h2 class="lg:text-3xl">الوقت المتبقي</h2>
			<div class="flex items-center justify-between">
				<div id="offer-sec" class="flex items-center justify-center mr-3 text-xl text-white bg-gray-700 rounded-full w-9 h-9">00</div>
				<div class="flex items-center justify-center mr-3 text-3xl font-bold rounded-full">:</div>
				<div id="offer-min" class="flex items-center justify-center mr-3 text-xl text-white bg-gray-700 rounded-full w-9 h-9">00</div>
				<div class="flex items-center justify-center mr-3 text-3xl font-bold rounded-full">:</div>
				<div id="offer-hrs" class="flex items-center justify-center mr-3 text-xl text-white bg-gray-700 rounded-full w-9 h-9">00</div>
			</div>
		</div>
	</div>
	<div id="offers-limit" class="w-full"></div>
</section>
