<div class="container" style="margin-top: 50px;overflow:hidden">
  <div class="flex flex-col items-center justify-center mb-5">
    <h2 class="text-4xl">{{component.title}}</h2>
    <h4 class="text-xl mt-2">{{component.subtitle}}</h4>
  </div>
    
  <div id="map-content">
    <div id="map-new">{{component.map}}</div>
  </div>
</div>


