<div class="container" style="margin-top: 50px;overflow:hidden">
  <div class="flex flex-col items-center justify-center mb-5">
    <h2 class="text-4xl">{{component.title}}</h2>
    <h4 class="text-4xl mt-2 opacity-80 md:w-[50%] text-center">{{component.subtitle}}</h4>
  </div>
    {% set map = component.map|replace({"&nbsp;":"\n"}) %}
  <div>
    <div >{{component.map|raw}}</div>
  </div>
</div>


