<div class="container" style="margin-top: 50px;">
<div class="flex flex-col items-center justify-center mb-5">
<h1>{{component.title}}</h1>
    <h5>{{component.subtitle}}</h5>
</div>
    
  <div id="map-content">
    <div id="map-new">{{component.map}}</div>
  </div>
</div>


