<section class="s-block s-block--fixed-banner s-block--double-banner wide-placeholder double-banner double-banner--5">
	<div class="container">
		<div class="flex gap-2 md:gap-4">
			<a href="{{component.url}}" class="w-full h-full" aria-label="Banner">
				<img class"w-full h-[200px] rounded-lg object-none" style="object-fit: none" src="{{component.image}}" data-src="https://cdn.salla.sa/form-builder/ZjHsdgzca46oJqIwV4vTDK60zkL9OZrz9wHZnWcz.png" loading="lazy" data-ll-status="loaded">
			</a>
		</div>
	</div>
</section>
