<section class="s-block s-block--fixed-banner s-block--double-banner wide-placeholder double-banner double-banner--5">
	<div class="container">
		<div class="max-h-100">
			<a href="{{component.url}}" class="object-contain w-full h-full lg:object-cover" aria-label="Banner">
				<img class="w-full h-full" src="{{component.image}}" data-src="https://cdn.salla.sa/form-builder/ZjHsdgzca46oJqIwV4vTDK60zkL9OZrz9wHZnWcz.png" loading="lazy" data-ll-status="loaded">
			</a>
		</div>
	</div>
</section>