<section class="s-block s-block--video ">
        <video class="object-cover object-center w-full h-full min-h-[250px] max-h-[350px] lg:max-h-[700px]" playsinline loop="loop" src="{{component.video_banner}}" autoplay="autoplay" muted="muted"></video>
</section>

