<section class="s-block">
	<div class="container flex flex-col items-center justify-center store-features " style="background-color : #F8F4F4 ; border-radius: 40px ; padding : 20px">
		<h1 class="mb-3 text-xl font-black text-center lg:rtl:text-right lg:text-left lg:mb-10 lg:text-5xl">
			{{component.title}}</h1>
		<div class="grid grid-cols-4 px-10 py-10 lg:py-0 lg:px-0 grid-feattures-about gap-y-28 lg:gap-y-10 gap-x-5">
			{% for link in component.banner_payment %}
				<a href="{{link.url}}" class="flex flex-col items-center justify-center ">
					<img src="{{link.image}}"/>
				</a>
			{% endfor %}
		</div>

	</div>
</section>