<section class="container s-block ">
	<div class="flex items-center justify-center w-full">
		<div class="flex flex-col items-center justify-center w-5/12 mb-8 text-center">
			<h1 class="mb-8 text-5xl">{{component.title}}</h1>
			<div class="w-full h-3 bg-gray-600 rounded-lg line"></div>
		</div>
	</div>
	<salla-slider type="carousel" controls-outer show-controls="false">
		<div slot="items">
			{% for slide in component.blogs %}
				<div class="flex flex-col items-center justify-center space-y-4 " style="width: 343px ; align-items: center !important">
					<a href="{{slide.url}}" class="w-full " style="height : 350px">
						<img src="{{slide.image}}" class="w-full h-full rounded-lg "/>
					</a>
					<h2 style="font-weight:  800">
						{{slide.p}}
					</h2>
				</div>
			{% endfor %}
		</div>
	</salla-slider>
</section>
