<section class="s-block">
	<div class="container flex flex-col items-center justify-center store-features">
		<h1>{{component.title}}</h1>
		<div class="grid-feattures-about">
			{% for link in component.brand %}
				<div class="flex flex-col items-center justify-center ">
					<img src="{{link.image}}"/>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
