<section class="s-block">
	<div class="container flex flex-col items-center justify-center store-features">
		<div class="w-5/12 mb-8">
			<h1 class="mb-5 text-5xl leading-normal text-center text-gray-800">{{component.title}}</h1>
			<div class="w-full h-3 bg-gray-600 rounded-lg"></div>
		</div>
		<div class="grid grid-cols-4 grid-feattures-about gap-y-10 gap-x-5">
			{% for link in component.brand %}
				<div class="flex flex-col items-center justify-center ">
					<img src="{{link.image}}"/>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
