<section class="mt-10 s-block s-block--categories category-star-2">
	<div class="container px-4 category">
		<div class="flex flex-col items-center justify-center mb-8 text-center">
			<h1 class="mb-4 text-5xl">{{component.title}}</h1>
			<p class="text-3xl mb-9" style="font-size : 30px">{{component.subtitle}}</p>
			<div class="flex items-center justify-center w-full">
				<div class="h-3 ml-5 bg-gray-600 rounded-lg w-44 line"></div>
				<div class="h-3 bg-gray-600 rounded-lg w-44 line"></div>
			</div>
		</div>
	</div>
	<div class="flex items-center justify-center w-full m-auto">
		<div class="grid justify-around grid-cols-5 gap-10 grid-feattures-category">
			{% for link in component.category_star_2 %}
				<div class="mb-2 swiper-slide slide--one-sixth cat-hight">
					<span class="hidden category-value">{{ link.category_name.value[0]|json_encode() }}</span>
					<a class="flex flex-col items-center justify-center api-set-category" data-emergence="hidden" href="">
						<img class="mb-2 bg-cover rounded " src="{{link.image}}" style="height: 180px ; border: 4px solid #404553"/>
						<h4 class="category-name"></h4>
						<span class="all-category-belong-product"></span>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div></section>
