<section class="lg:mt-10 s-block s-block--categories ">
	<span class="hidden" id="category-id-product">{{component.category_id[0].category.value[0]|json_encode()}}</span>
	<div class="container flex flex-col items-center justify-center px-4 category-1">
		<div class="flex flex-col items-center justify-center mb-3 text-center lg:mb-8">
			<div class="flex flex-col items-center justify-center space-y-3 w-80">
				<h1 class="w-full mb-1 font-black leading-normal text-gray-900 lg:mb-3 lg:text-5xl">{{component.title}}</h1>
				<div class="w-full h-1 rounded-lg lg:h-3 bg-slate-700"></div>
			</div>
		</div>
		<div class="flex items-center justify-center w-full m-auto">
			<div class="grid w-full grid-cols-4 gap-10 grid-feattures-pro" id="all-pro-by-cat"></div>
		</div>
		<a
			class="flex items-center justify-center gap-2 px-10 py-5 mt-3 rounded-md lg:rounded lg:p-3 lg:mt-16 more" style="background-color : #404553">
			{# <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewbox="0 0 78 78" fill="none">
							<path d="M7.10729 38.6448C7.24267 21.0098 21.6651 6.80714 39.3001 6.94251C56.9352 7.07789 71.1378 21.5003 71.0024 39.1353C70.8671 56.7704 56.4447 70.973 38.8096 70.8377C21.1746 70.7023 6.97191 56.2799 7.10729 38.6448ZM51.8584 35.7934L51.9075 29.4039L26.3494 29.2077L26.3004 35.5972L51.8584 35.7934ZM51.8339 38.9882L26.2758 38.792L38.9322 54.8639L51.8339 38.9882Z" fill="white"/>
						</svg> #}
			<h1 class="text-lg text-white lg:text-inherit">المزيد</h1>
		</a>
	</div>
</section>
