<section class="container s-block">
	<div class="flex items-center justify-between mb-5">
		<h1 class="lg:text-5xl">Hello, Offers</h1>
		<div class="flex items-center justify-end">
			<h2 class="lg:text-3xl">Limited Offers</h2>
			<div class="flex items-center justify-between">
				<div id="offer-sec" class="flex items-center justify-center mr-3 text-xl text-white bg-gray-700 rounded-full w-9 h-9">10</div>
				<div class="flex items-center justify-center mr-3 text-3xl font-bold rounded-full">:</div>
				<div id="offer-min" class="flex items-center justify-center mr-3 text-xl text-white bg-gray-700 rounded-full w-9 h-9">10</div>
				<div class="flex items-center justify-center mr-3 text-3xl font-bold rounded-full">:</div>
				<div id="offer-hrs" class="flex items-center justify-center mr-3 text-xl text-white bg-gray-700 rounded-full w-9 h-9">10</div>
				<div class="flex items-center justify-center mr-3 text-3xl font-bold rounded-full">:</div>
				<div id="offer-mon" class="flex items-center justify-center mr-3 text-xl text-white bg-gray-700 rounded-full w-9 h-9">10</div>
			</div>
		</div>
	</div>
	<div class="w-full">
		<salla-slider show-controls="false" loop="true">
			<div slot="items">
				<div class="relative flex flex-col items-start justify-start w-full">
					<div class="absolute top-0 left-0 w-16 h-32 bg-[#FCDB3D] flex flex-col items-center justify-start">
						<svg xmlns="http://www.w3.org/2000/svg" width="42" height="39" viewbox="0 0 42 39" fill="none">
							<g clip-path="url(#clip0_177_18621)">
								<path d="M7.07178 4.67578V24.437H12.7548V40.6052L26.0153 19.0476H18.4379L24.121 4.67578H7.07178Z" fill="#212121"/>
							</g>
							<defs>
								<clipPath id="clip0_177_18621">
									<rect width="41" height="38" fill="white" transform="translate(0.0454102 0.110352)"/>
								</clipPath>
							</defs>
						</svg>

						<h3 class="w-full text-4xl font-bold text-center">20%</h3>
					</div>
				</div>
			</div>
		</salla-slider>
	</div>
</section>
