<section class="container s-block">
	<div class="flex items-center justify-between mb-5">
		<h1 class="lg:text-5xl">Hello, Offers</h1>
		<div class="flex items-center justify-end">
			<h2 class="lg:text-3xl">Limited Offers</h2>
			<div class="flex items-center justify-between">
				<div id="offer-sec" class="flex items-center justify-center mr-3 text-xl text-white bg-gray-700 rounded-full w-9 h-9">10</div>
				<div class="flex items-center justify-center mr-3 text-3xl font-bold rounded-full">:</div>
				<div id="offer-min" class="flex items-center justify-center mr-3 text-xl text-white bg-gray-700 rounded-full w-9 h-9">10</div>
				<div class="flex items-center justify-center mr-3 text-3xl font-bold rounded-full">:</div>
				<div id="offer-hrs" class="flex items-center justify-center mr-3 text-xl text-white bg-gray-700 rounded-full w-9 h-9">10</div>
				<div class="flex items-center justify-center mr-3 text-3xl font-bold rounded-full">:</div>
				<div id="offer-mon" class="flex items-center justify-center mr-3 text-xl text-white bg-gray-700 rounded-full w-9 h-9">10</div>
			</div>
		</div>
	</div>
	<div class="w-full">
		<salla-slider show-controls="false" loop="true">
			<div slot="items">
				<div class="flex flex-col items-start justify-start"></div>
			</div>
		</salla-slider>
	</div>
</section>
