<section class="container s-block">
	<div class="flex items-center justify-between mb-5">
		<h1 class="lg:text-5xl">Hello, Offers</h1>
		<div class="flex items-center justify-end">
			<h2 class="lg:text-3xl">Limited Offers</h2>
			<div class="flex items-center justify-between">
				<div id="offer-sec" class="flex items-center justify-center mr-3 text-xl text-white bg-gray-700 rounded-full w-9 h-9">10</div>
				<div class="flex items-center justify-center mr-3 text-3xl font-bold rounded-full">:</div>
				<div id="offer-min" class="flex items-center justify-center mr-3 text-xl text-white bg-gray-700 rounded-full w-9 h-9">10</div>
				<div class="flex items-center justify-center mr-3 text-3xl font-bold rounded-full">:</div>
				<div id="offer-hrs" class="flex items-center justify-center mr-3 text-xl text-white bg-gray-700 rounded-full w-9 h-9">10</div>
				<div class="flex items-center justify-center mr-3 text-3xl font-bold rounded-full">:</div>
				<div id="offer-mon" class="flex items-center justify-center mr-3 text-xl text-white bg-gray-700 rounded-full w-9 h-9">10</div>
			</div>
		</div>
	</div>
	<div class="w-full">
		<salla-slider show-controls="false" loop="true">
			<div slot="items">
				<div class="relative flex flex-col items-start justify-start w-full ml-16" style="width: 11rem;">
					<div class="absolute top-0 right-0 p-2 w-16 h-32 bg-[#FCDB3D] flex flex-col items-center justify-between">
						<svg xmlns="http://www.w3.org/2000/svg" width="42" height="38" viewbox="0 0 42 38" fill="none">
							<g clip-path="url(#clip0_177_18631)">
								<path d="M7.96631 4.56543V24.3266H13.6494V40.4949L26.9099 18.9372H19.3324L25.0155 4.56543H7.96631Z" fill="#212121"/>
							</g>
							<defs>
								<clipPath id="clip0_177_18631">
									<rect width="41" height="38" fill="white" transform="translate(0.939941)"/>
								</clipPath>
							</defs>
						</svg>
						<h3 class="w-full text-2xl font-bold text-center">20%</h3>
					</div>
					<div class="w-full">
						<div class="w-full border h-72">
							<img class="object-fill w-full h-full "/>
						</div>
						<p class="w-full mt-5 text-3xl font-bold text-center text-black">100</p>
						<p class="w-full mt-2 text-xl font-bold text-center text-black text-gray-300">100</p>
					</div>
				</div>
			</div>
		</salla-slider>
	</div>
</section>
