<section class="container s-block">
	<div class="flex items-center justify-between">
		<h1 class="lg:text-5xl">Hello, Offers</h1>
		<div class="flex items-center justify-end">
			<h2 class="lg:text-3xl">Limited Offers</h2>
			<div class="flex items-center justify-between">
				<div id="offer-sec">10</div>
				<div id="offer-min">10</div>
				<div id="offer-hrs">10</div>
				<div id="offer-mon">10</div>
			</div>
		</div>
	</div>
</section>
