<div class="container" style="margin-top: 50px;">
	<div class="flex items-center justify-center w-full mb-8">
		<div class="flex flex-col items-center justify-center">
			<h1 class="mb-3 text-5xl text-center text-gray-800">{{component.title}}</h1>
			<h5 class="text-3xl text-center text-gray-800">{{component.subtitle}}</h5>
		</div>
	</div>
	<div id="map-content" class="flex items-center justify-center">
		<div id="map-new">{{component.map}}</div>
	</div>
</div>
