<section class="s-block s-block--fixed-banner s-block--double-banner wide-placeholder double-banner double-banner--5">
	<div class="container" style="width:70%">
		<div class="flex w-full gap-2 md:gap-4" >
				<a href="{{component.url}}" class="h-full  basis-3/6" aria-label="Banner">
					<img  width="100%"  style="height :200px ; border-radius: 30px" src="{{component.image}}" data-src="https://cdn.salla.sa/form-builder/ZjHsdgzca46oJqIwV4vTDK60zkL9OZrz9wHZnWcz.png" loading="lazy" data-ll-status="loaded">
				</a>			
		</div>
	</div>
</section>
