<section class="w-10.5/12 s-block">
	<salla-slider type="carousel" controls-outer show-controls="false"  class="w-full">
		<div slot="items">
			{% for slide in component.offer_slider %}
				<div class="flex flex-col items-center justify-center space-y-4" style="width: 450px ; align-items: center !important">
					<div class="w-full " style="height : 520px">
						<img src="{{slide.image}}" class="w-full h-full "/>
					</div>
					<h2 style="font-weight:  800">
						{{slide.title}}
					</h2>
					<a href="{{slide.url}}" class="text-white btn" style="background-color: #334155 ; width:40% ; font-size:20px ; font-weight : 600">
						{{slide.button}}
					</a>
				</div>
			{% endfor %}
		</div>
	</salla-slider>
</section>
  