<section class="s-block s-block--fixed-banner s-block--double-banner wide-placeholder double-banner double-banner--5">
	<div class="container" style="width:90%">
		<div class="flex w-full gap-0 sm:gap-2 md:gap-4 ">
			<a href="{{component.url}}" class="object-contain w-full h-full lg:object-cover" aria-label="Banner">
				<img width="100%" style="height :400px" src="{{component.image}}" data-src="https://cdn.salla.sa/form-builder/ZjHsdgzca46oJqIwV4vTDK60zkL9OZrz9wHZnWcz.png" loading="lazy" data-ll-status="loaded">
			</a>
		</div>
	</div>
</section>
