<section class="container s-block s-block-tabs s-block--special-products tabs-initialized category-three">
	<div class="flex items-center justify-start w-full mb-10">
		<div class="right-side">
			<h2 class="text-xl lg:text-5xl">{{ component.title}}</h2>
		</div>
	</div>
	<span class="hidden">{{ component.category_id[0].dropdown_list.value[0]|json_encode() }}</span>
	<div></div>
</section>
