<section class="s-block s-block--fixed-banner s-block--double-banner wide-placeholder double-banner double-banner--5">

	<div class="container" style="width:90%">
		<div class="grid grid-cols-2 gap-16">
			{% for card in component.add_two_card %}
				<a href="{{card.url}}" class="relative h-full basis-3/6" aria-label="Banner">
					<img width="100%" style="height:500px" src="{{card.image}}" data-src="https://cdn.salla.sa/form-builder/ZjHsdgzca46oJqIwV4vTDK60zkL9OZrz9wHZnWcz.png" loading="lazy" data-ll-status="loaded">
					<div class="flex items-center justify-start w-full absoluter bottom-16">
						<button class="w-5/12 py-4 text-center bg-white rounded-md text-stone-900">Buy Now</button>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
</section>
